.parentContainer {
  display: grid;
  grid-template-columns: auto 0px; /* Adjust the second column width for the remove button */
  align-items: center;
 
}

.checkoutItemContainer {
  display: grid;
  grid-template-columns:1fr 2fr 3fr 3fr 3fr; /* Adjust the percentages as needed */
  align-items: center;
  gap: 10px; /* Adjust gap between columns */
  min-height: 100px;
  border-bottom: 1px solid var(--primary-color);
  padding: 15px 0;
  font-size: 1rem;
}

.imageContainer { 
  text-align: center;
}

img {
  width: 30%;
  height: auto;
}

.spanTitle {
  word-wrap: break-word;
}

.spanDetails {
  text-align: center; /* Center the text within the details column */
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  margin: 0 10px
}

.arrow {
  cursor: pointer;
}

.value {
  margin: 0 10px;
}

.baseSpan {
  text-align: center;
}

.removeButton {
  cursor: pointer;

  justify-self: center; /* Center the remove button within its grid cell */
}
