.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8; /* Adjust background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer {
  height: 100%;
  padding: 10px 20px;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLink {
  padding: 10px 15px;
  cursor: pointer;
}
