.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 10px 20px;*/
  /*padding-bottom: 10px;*/
  background-color: #f1dede; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer {
  height: 100%;

}

.navLinks {
  display: flex;
  align-items: center;
  
}

.navLink {
  padding: 10px 15px;
  cursor: pointer;
  color: #d496a7;
  font-weight: 700;
  font-size: 1.2rem;
  background: none;
  border: none;
}

.navLink:hover {
  color: var(--primary-color);
}

.cartCount {
  position: absolute;
  top: 0px;
  right: 150px;
  background-color: white; /* Red background for visibility */
  color: var(--primary-color);
  font-size: 12px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.userIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Ensure consistent width */
  
}

@media (max-width: 768px) {
  .navLink {
 
    font-size: 0.8rem;

  }
}