/* CoursesPage.module.css */
.coursesPage {
    display: flex;
    flex-direction: column;

    padding-left: 250px; /* Width of the sidebar */


  }
  .coursesPage h2 {
    text-align: start;
    margin: 30px 0 0px 60px;
    
  
}

  .calendarContainer {
    flex: 1;
    margin: 0 30px;
  }
  

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .coursesPage {
      flex-direction: column;
      padding: 0 5px;
    }

    .calendarContainer {
      margin: 0;
      flex: none;
    }
    
  }
  