/* filter.module.css */
.filterSidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    position: fixed;
    top: 60px; /* Adjust this value to the height of your navbar */
    left: 0;
    height: calc(100vh - 60px); /* Adjust this value to the height of your navbar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Ensure content is scrollable if it overflows */
  }
  
  .filterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .selectContainer {
    display: flex;
    flex-direction: column;
  }
  
  .pillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
  }
  
  .pill {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
    background: #f0f0f0;
  }
  
  .pill button {
    margin-left: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .filterSidebar {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      border-right: none;
      border-bottom: 1px solid #ddd;
      box-shadow: none;
      padding: 10px;
      margin-top: 60px; /* Adjust for navbar height */
    }
  
    .filterContainer {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .selectContainer {
      flex: 1;
    }
  }
  