/* filter.module.css */
.filterSidebar {
    width: 200px;
    margin-left: 10px;
    padding: 30px;
    position: fixed;
    top: 150px; /* Adjust this value to the height of your navbar */
    left: 0;
    overflow-y: auto; /* Ensure content is scrollable if it overflows */
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .selectContainer {
    display: flex;
    flex-direction: column;
    
  }

  .selectContainer select{
    font-family: var(--primary-font);
    font-size: 1rem;
    padding: 8px 2px;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 2px 0 5px var(--secondary-color);
  }


  select:active {
    outline: 1px solid var(--secondary-color); /* Orange dashed outline when active */
  }

  .selectContainer select option {
    color: var(--primary-color); /* Color of the text inside the option */
    background-color: white; /* Background color for the option items */

  }
  
  .pillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
  }
  
  .pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--tertiary-color);
    padding: 10px;
  }
  
  .pill button {
    margin-left: 10px;
    border: none;
    background-color: var(--tertiary-color);
    font-weight: bold;
    color: var(--secondary-color)
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .filterSidebar {
      position: relative;
      width: 90%;
      height: auto;
      top: 0;
      left: 0;
      box-shadow: none;
      flex-direction: column;
      gap: 10px;
      margin-left: 0;

    } 
  }
  