.participantFormContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh; /* Full viewport height to vertically center */
  padding: 50px 20px;
 
  box-sizing: border-box;
}

.formCenteredButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCenteredButton input {
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: white;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;

  font-weight: bold;
  color: var(--primary-color);
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
}


@media (max-width: 768px) {
  .participantFormContainer {

    padding: 20px;
  }

}