.participantFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height to vertically center */
  padding: 20px;

  box-sizing: border-box;
}

.formCenteredButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCenteredButton input {
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: white;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
