.footer {
    width: 100%;
    padding: 5px 0;
    background-color: #5D576B; /* Light grey background */
    text-align: center; /* Center the text */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
 
  }
  
  .footer p {
    margin: 0;
    color: #D496A7; 
    font-size: 1rem; /* Adjust font size as needed */
  }
  
  .footer a {
    color: black; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer a:hover {
    color: #d5bec4;
    text-decoration: underline; /* Add underline on hover */
  }
  