
.calendarContainer {
  margin: 2%;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 0 5px var(--secondary-color);
  border-radius: 8px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  color: var(--primary-color)
}


:global .rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

:global(.rbc-toolbar button:active),
:global(.rbc-toolbar button.rbc-active){
  background-color: var(--tertiary-color);
}


:global .rbc-btn-group{
  border: 1px solid var(--secondary-color);
}

:global .rbc-time-content {
  align-items: stretch;
}


:global .rbc-btn-group button {
  border: 1px solid var(--secondary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;

}

:global .rbc-btn-group button:active,
:global .rbc-btn-group button:hover,
:global .rbc-btn-group button:focus {
  background-color: var(--tertiary-color);
}



:global .rbc-toolbar  .rbc-toolbar-label {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 0;
}



:global .rbc-time-header-content .rbc-header button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: 5px 5px 0 0;
  color: var(--primary-color)
}

:global .rbc-today {
  background-color: var(--tertiary-color);

}

:global .rbc-events-container .rbc-event {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);

}


:global(.rbc-event:focus), 
:global(.rbc-day-slot), 
:global(.rbc-background-event:focus){
  outline: 1px auto white;
}

:global .rbc-event-content {
  font-size: 0.9rem;
}

:global .rbc-current-time-indicator {
  background-color: var(--primary-color);
}

 /*Hide all day cell display, it takes too much space and not really applicable to the business case*/
:global .rbc-allday-cell {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  :global .rbc-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  :global .rbc-timeslot-group{
    min-height: 60px;
  }
  :global .rbc-time-header-content .rbc-header button {
    font-size: 1.2rem;
    white-space: normal; /* Allows the text to wrap */
    word-wrap: break-word;

  }
 
 
  :global .rbc-toolbar .rbc-toolbar-label {
    font-size: 1em;
  }

  :global .rbc-event {
    font-size: 0.8rem;
 
  }
}